body{background-co: wheat;}
img{width: 100%;}
body{background:url(https://us.123rf.com/450wm/ascom73/ascom731610/ascom73161000114/65479131-fond-de-couleur-pastel-doux-et-flou-fond-d-%C3%A9cran-abstrait-d%C3%A9grad%C3%A9.jpg);
background-size: 100%;}